/* 
.banner-slider.slick-arrow.slick-prev, .slick-arrow.slick-next{
    display: block;
    z-index: 10;
   
}
.banner-slider.slick-arrow.slick-prev::before, .slick-arrow.slick-next::before{
    font-size: 30px;
}
.banner-slider.slick-arrow.slick-prev{
    left: 0;
    transform: translateX(50%);
}
.banner-slider.slick-arrow.slick-next{
    right: 0;
    transform: translateX(-50%);
}
.banner-slider.slick-dots{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
.banner-slider.slick-dots > li {
    margin: 0 10px;
}
.banner-slider.slick-dots > li > button::before{
    content: '' !important;
    width: 30px;
    height: 8px;
    border-radius: 9999px;
    background-color: white;
} */
